body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 100vh;
  background: radial-gradient(circle 100vh at 50% 0%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.none {
  display: none;
}

.container {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% auto;
}

.score-container {
  width: 400px;
  height: 60px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.game-name {
  font-weight: 600;
  font-size: 25px;
  color: white;
  line-height: 80%;
}

.score-board {
  width: 90px;
  font-size: 10px;
  text-align: center;
  color: hsl(229, 64%, 46%);
  background-color: white;
  border-radius: 4px;
}

.score-header {
  letter-spacing: 2px;
}

.inside-score-board {
  padding: 10px;
}

.score {
  font-size: 30px;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
  margin: 0;
}

.user-input {
  width: 450px;
  height: 200px;
  background-image: url(images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: 140px 140px;
  background-position: center;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-input button>img {
  width: 38px;
  height: 41px;
}

.user-input button {
  width: 110px;
  height: 110px;
  border-radius: 55px;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.input-paper-scissors {
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.input-paper-button {
  border: 12px solid rgb(73, 133, 255);
}

.input-scissors-button {
  border: 12px solid orange;
}

.input-rock-button {
  border: 12px solid red;
}

.user-and-computer-pick {
  width: 350px;
  display: flex;
  justify-content: space-around;
  height: 200px;
  margin-top: 10%;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: white;
}

.picked-header {
  margin-top: 0;
  margin-bottom: 30px;
}

.you-picked-button,
.house-picked-button {
  width: 110px;
  height: 110px;
  border-radius: 55px;
  border-width: 12px;
}

.you-pick,
.house-pick {
  width: 40px;
  height: 45px;
}

.null-house {
  background-color: hsl(237, 49%, 15%);
  opacity: 0.6;
  width: 90px;
  height: 90px;
  margin-top: 10px;
  border: none;
  border-radius: 45px;
}

.win-or-lose {
  font-weight: 800;
}

.result-container {
  margin-left: 5%;
  margin-right: 5%;
  align-self: center ;
}

.play-again-button {
  width: 125px;
  height: 25px;
  border-radius: 3px;
  border: none;
  color: red;
  font-size: smaller;
  cursor: pointer;
}

.youWinLose {
  width: 200px;
  font-size: 2rem;
  margin-bottom: 5px;
  font-weight: 700;
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }